@import "compass/reset";

@import "vendor/font-awesome/_font-awesome.scss";

@import "components/_main-menu.scss";
@import "components/_window.scss";

body { font-family: Arial, sans-serif; }

.hide { display: none; }

main section.main--content {
	width: 100%;
	height: calc(100% - 25px);
	background-color: #EFEFEF;
	position: absolute;
	top: 25px;
}